{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script type="text/javascript" src="{% static 'app/script/app.js' %}"></script>
    <link rel="stylesheet" href="{% static 'app/css/app.css' %}">
</head>
<body>
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% else %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <img src="{% static 'app/image/logo_100x100.jpg' %}" alt="logo" class="logo">
        <span class="fs-2" style="color: #3875d7">link service</span>
    </a>
    <a href="{% url 'create' %}" style="text-decoration: none">Сократить ссылку</a>
    <a href="{% url 'show' %}" style="text-decoration: none">Все ваши ссылки</a>
    <a class="btn btn-outline-primary" href="https://www.linkedin.com/in/vladimir-kostukevich-597a6b22b/">linkedin</a>
    <a class="btn btn-outline-primary" href="https://www.codewars.com/users/Vladimir-82/">Code Wars</a>
    <a class="btn btn-outline-primary" href="https://github.com/Vladimir-82/">MY GIT HUB</a>
        <span class="navbar-text">
            {% if request.user.is_authenticated %}
            Добро пожаловать, {{ user.username }} | <a href="{% url 'logout' %}">Выход</a>
            {% else %}
            <a href="{% url 'register' %}">Register</a> | <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </span>
    </header>
</div>
<div>
    {% block content %}
    {% endblock %}
    <p class="message">
        <img src="https://1.bp.blogspot.com/-KZa6XktH5xY/WlHX117BB9I/AAAAAAAAKCo/q3VklH3TClQaW0ur5ke6Cm-8MJMX3eXRACEwYBhgL/s320/1485549014271.jpg" title="Touch me!" alt="small" id="animation" width="200">
    </p>
</div>
</body>
</html>