{% extends "app/basic.html" %}

{% block title %}Create{% endblock %}
{% block content %}

{% if message %}
    <b>{{ message }}</b>
{% else %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Сократить ссылку</button>
</form>
{% endif %}
{% if link.short_link %}
    Длинная ссылка - <a href="{{ link.link }}"> {{ link.link }} </a><br>
    Сокращенная ссылка - <a href="{{ link.link }}"> {{ link.short_link }} </a>
{% endif %}
{% endblock %}



