<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="ADD">
    </form>
    {% if links.shortlink %}
        <a href="{{ links.link }}"> {{ links.shortlink }} </a>
    {% endif %}
        <span class="navbar-text">
            <a href="{% url 'register' %}">Register</a> | <a href="{% url 'login' %}">Login</a>
        </span>
</body>
</html>