{% extends "app/basic.html" %}

{% block title %}Link cutter{% endblock %}
{% block content %}
{% if message %}
    <div class="message">
        <b>{{ message }}</b>
    </div>
{% else %}
    <div class="centred">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" id='btn1'  class="btn btn-primary btn-lg px-4 gap-3">Сократить ссылку</button>
        </form>
{% endif %}
{% if link.shortlink %}
    <script type="text/javascript">
        jQuery("#btn1").remove();
    </script>
    Длинная ссылка - <a href="{{ link.link }}"> {{ link.link }} </a><br>
    Сокращенная ссылка - <a href="{{ link.link }}"> {{ link.shortlink }} </a>
    </div>
{% endif %}
{% endblock %}



