{% extends "app/basic.html" %}
{% block title %}Show{% endblock %}
{% block content %}
{% if message %}
    <div class="warning">
        <b>{{ message }}</b>
    </div>
{% else %}
<div id="show_inner">
    {% for link in links %}
        Длинная ссылка - <a href="{{ link.link }}"> {{ link.link }} </a><br>
        Сокращенная ссылка - <a href="{{ link.link }}"> {{ link.short_link }} </a>
        <p> ----------------------------------------------------------------------------------------- </p>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}